<div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../../../assets/paperKit2/assets/img/fabio-mangione.jpg');">
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="avatar">
          <img [src]="profileImage" alt="Circle Image" class="img-circle img-no-padding img-responsive">
        </div>
        <div class="name">
          <h4 class="title">{{name}}
            <br />
          </h4>
          <h6 class="description">Music Producer</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <p>An artist of considerable range, Jane Faker — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p>
          <br />
          <button type="button" class="btn btn-primary btn-round" data-toggle="modal" data-target="#settings">
            <i class="fa fa-cog"></i> Settings
        </button>
        
        <div class="modal fade" id="settings" tabindex="-1" role="dialog" aria-hidden="false">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header no-border-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h6 class="text-muted">Have Fun</h6>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-3">
                        <h3>Select Profile Image</h3>
                        <div>
                          <button (click)="filePicker.click()" type="button" class="btn btn-primary">Upload Image</button>
                          <input 
                            type="file" 
                            #filePicker
                            (change)="onSubmit($event)"
                            name="image"
                            class="form-control" />
                        </div>
                        <!-- <form></form> -->
                    </div> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <br/>
     
  <footer class="footer">
    <div class="container">
      <div class="row">
        <nav class="footer-nav">
          <ul>
            <li>
              <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>
            </li>
            <li>
              <a href="http://blog.creative-tim.com/" target="_blank">Blog</a>
            </li>
            <li>
              <a href="https://www.creative-tim.com/license" target="_blank">Licenses</a>
            </li>
          </ul>
        </nav>
        <div class="credits ml-auto">
          <span class="copyright">
            ©
            <script>
              document.write(new Date().getFullYear())
            </script>, made with <i class="fa fa-heart heart"></i> by Creative Tim
          </span>
        </div>
      </div>
    </div>
  </footer>