.first-part {
    height: auto;
}

img {
    width: 40px;
    height: 40px;
}



#navbarDropdown::after {
    display: none;
}

@media screen and (max-width: 992px) {
    .moveButtonLeft {
        font-weight: bold;
        position: relative;
        right: 100px;
    }

    #navbarDropdown {
        position: relative;
        right: 30px;
    }
    
}

// @media screen and (max-width: )


.navbar-collapse ul {
    height: auto !important;
}

