<div class="page-header"  style="background-image: url('../../assets/paperKit2/assets/img/login-image.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 ml-auto mr-auto">
                <div class="card card-register">
                    <h3 style="color: black" class="title mx-auto">{{ accountActivated ? 'Success' : 'Error'}}</h3>
                    <div
                    *ngIf="error" 
                    class="alert alert-danger" 
                    role="alert">
                    <p class="responseMessage">{{ error }}</p>
                    </div>
                    <div
                    *ngIf="success" 
                    class="alert alert-success" 
                    role="alert">
                    <p class="responseMessage">{{ success }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>