.img-round {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: -5px;
}

#comment {
    padding: 5px;
    border-style: none; 
    border-color: Transparent; 
    overflow: auto; 
    resize: none;
}

form {
    padding: 13px;
}