input.ng-invalid.ng-touched {
    border: 1px solid red !important;
    color: red;
}

span {
    color: red;
}

p.responseMessage {
    font-weight: bold;
}

#forgotButtonColor {
    color: red;
}

.modal { background: rgba(000, 000, 000, 0.8); min-height:1000000px; }

.spanGoogleText {
    color: black;
    position: relative;
    top:5px;
}