<div class="page-header" style="background-image: url('../../assets/paperKit2/assets/img/login-image.jpg');">
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 ml-auto mr-auto">
          <div class="card card-register">
            <h3 style="color: black" class="title mx-auto">Welcome</h3>
            <div class="social-line text-center">
              <!-- <a class="btn btn-neutral btn-facebook btn-just-icon">
                <i class="fa fa-facebook-square"></i>
              </a>
              <a (click)="signInWithGoogle()" class="btn btn-neutral btn-google btn-just-icon">
                <i class="fa fa-google"></i>
              </a>
              <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
                <i class="fa fa-twitter"></i>
              </a> -->
              <button mat-button style="padding: 1rem;" (click)="signInWithGoogle()">
                <mat-icon style="width: 50px; height:30px"
                          svgIcon="logo"></mat-icon> <span class="spanGoogleText">Login With Google</span> 
              </button>  
            </div>
            <div
                *ngIf="error" 
                class="alert alert-danger" 
                role="alert">
                <p class="responseMessage text-center">{{ error }}</p>
              </div>
              <div
              *ngIf="success" 
              class="alert alert-success" 
              role="alert">
              <p class="responseMessage text-center">{{ success }}</p>
            </div>
            <!-- spinner -->
            <div *ngIf="isLoading" style="text-align: center;">
              <app-loading-spinner></app-loading-spinner>
            </div>
            <form 
                #authForm="ngForm"
                class="register-form"
                (ngSubmit)="onSubmit(authForm)">

                <div class="form-group" *ngIf="!isLoginMode">
                    <label>Name:</label>
                    <input 
                        type="text"
                        id="name"
                        [(ngModel)]="user.name"
                        name="name" 
                        required
                        #name="ngModel"
                        class="form-control"
                        placeholder="Name">
                        <span
                            *ngIf="!name.valid && name.touched ">
                            Please enter a name!</span>
                    </div>

                <div class="form-group">
                    <label>Email:</label>
                    <input 
                        type="email"
                        id="email"
                        [(ngModel)]="user.email"
                        name="email" 
                        required
                        email
                        #email="ngModel"
                        class="form-control"
                        placeholder="Email">
                        <span
                            *ngIf="!email.valid && email.touched">
                            Please enter a valid email!</span>
                </div>

                <div class="form-group">
                    <label>Password:</label>
                    <input 
                        type="password" 
                        id="password"
                        name="password"
                        [(ngModel)]="user.password"
                        required
                        #password="ngModel"
                        class="form-control" 
                        placeholder="Password">
                        <span
                            class="help-block"
                            *ngIf="password.touched && password.invalid">
                            Password is required!</span>
                </div>

                <div class="form-group" *ngIf="!isLoginMode">
                    <label>Confirm Password</label>
                    <input  
                        type="password"
                        id="confirmPassword"
                        class="form-control"
                        name="confirmPassword"
                        [(ngModel)]="user.confirmPassword"
                        appConfirmEqualValidator="password"
                        confirmPassword
                        required
                        #confirmPassword="ngModel"
                        placeholder="Confirm Password">
                        <span 
                            class="help-block"
                            *ngIf="confirmPassword.touched && confirmPassword.errors?.required">
                            Confirm password is required!</span>
                        <span
                            class="help-block"
                            *ngIf="
                                confirmPassword.touched && 
                                confirmPassword.errors?.notEqual &&
                                !confirmPassword.errors?.required ">
                            Passwords do not match!</span>
                </div>
                <button
                    [disabled]="!authForm.valid" 
                    class="btn btn-danger btn-block btn-round">{{ isLoginMode ? 'Login' : 'Register'}}
                </button>
              <button 
                type="button"
                (click)="onSwitchMode(authForm)"
                class="btn btn-danger btn-block btn-round">Switch to {{isLoginMode ? 'Register' : 'Login'}}
                
            </button>

            </form>
            <div *ngIf="isLoginMode" class="forgot">
              <a class="btn btn-link btn-danger" id="forgotButtonColor" data-toggle="modal" data-target="#forgotPassword">
                Forgot password?</a>

              
            </div>
            <div *ngIf="!isLoginMode" class="forgot">
              <a class="btn btn-link btn-danger" id="forgotButtonColor" data-toggle="modal" data-target="#resEmailVerification">
                Resend email verification?</a>
            </div>
          </div>
        </div>


<!-- start password reset modal -->
<div class="modal fade" id="forgotPassword"  data-backdrop="false" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog modal-register">
    <div class="modal-content">
      <div class="modal-header no-border-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modalt-title text-center">Forgot Password</h3>
      </div>
      <div class="container">
        <div class="modal-body">
          <form
            #passwordResendForm="ngForm"
            class="register-form"
            (ngSubmit)="onForgotPassword(passwordResendForm)">
            <div class="form-group">
              <label style="color: white">Email</label>
              <input 
                  type="text"
                  name="email"
                  value=""
                  required
                  ngModel
                  #email="ngModel"
                  placeholder="Email"
                  class="form-control">
              <span
                  *ngIf="!email.valid && email.touched">
                  Please enter an email!</span>
            </div>
            <button 
                [disabled]="!passwordResendForm.valid"
                class="btn btn-danger btn-block btn-round">Send</button>
          </form>
          <div
                *ngIf="errorPasswordForgot" 
                class="alert alert-danger" 
                role="alert">
                <p class="responseMessage text-center">{{ errorPasswordForgot }}</p>
              </div>
              <div
              *ngIf="successPasswordForgot" 
              class="alert alert-success" 
              role="alert">
              <p class="responseMessage text-center">{{ successPasswordForgot }}</p>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>


<!-- start email resend modal -->
<div class="modal fade" id="resEmailVerification" data-backdrop="false" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog modal-register">
      <div class="modal-content">
          <div class="modal-header no-border-header text-center">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h3 class="modal-title text-center">Resend email-verification</h3>
          </div>
          <div class="container">
            <div class="modal-body">
              <div
                  *ngIf="errorResend" 
                  class="alert alert-danger" 
                  role="alert">
              <p class="responseMessage text-center">{{ errorResend }}</p>
              </div>
              <div
                  *ngIf="successResend" 
                  class="alert alert-success" 
                  role="alert">
                <p class="responseMessage text-center">{{ successResend }}</p>
              </div>
              <form
                  #emailResendForm="ngForm"
                  class="register-form"
                  (ngSubmit)="onResendEmail(emailResendForm)">
                <div class="form-group">
                  <label style="color: white">Email</label>
                  <input 
                      type="text" 
                      name="email" 
                      value=""
                      required
                      ngModel
                      #email="ngModel"
                      placeholder="Email" 
                      class="form-control"/>
                  <span
                      *ngIf="!email.valid && email.touched">
                  Please enter an email!</span>
                </div>
                <div class="form-group">
                  <label style="color: white">Password</label>
                  <input 
                      type="password" 
                      name="password"
                      value="" 
                      ngModel
                      required
                      #password="ngModel"
                      placeholder="Password" 
                      class="form-control"/>
                    <span
                        *ngIf="!password.valid && password.touched">
                    Please enter a valid password!</span>
                </div>
                <button 
                    [disabled]="!emailResendForm.valid"
                    class="btn btn-danger btn-block btn-round"> 
                Send</button>
              </form>
            </div>
          </div>
        </div>
    </div>
</div>
<!-- end modal -->