input.ng-invalid.ng-touched {
    border: 1px solid red !important;
    color: red;
}

span {
    color: red;
}

p.responseMessage {
    font-weight: bold;
}

// #loginModal{
    // display: none;
    // background: rgba(0, 0, 0, 0.5);
// }
